<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th class="time">&nbsp;</th>
            {% for room in timetable.rooms %}
                <th>{{ room.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in timetable %}
            <tr>
                <td class="time">{{ row.time|date:"h:iA" }}</td>
                {% for slot in row.slots %}
                    <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
                      {% include "schedule/_slot.html" %}
                    </td>
                {% endfor %}
                {% if forloop.last %}
                    <td colspan="{{ timetable.rooms|length }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="fake-table">
    {% for row in timetable %}
        {% if row.slots %}
	    <div class="fake-tr">
		<div class="fake-td fake-cell">{{ row.time|date:"h:iA" }}</div>
		{% for slot in row.slots %}
		    <div class="fake-td fake-cell slot slot-{{ slot.kind.label }}">
          {% include "schedule/_slot.html" %}
		    </div>
		{% endfor %}
	    </div>
	{% endif %}
    {% endfor %}
</div>
