{% if slot.kind.is_normal %}
    {% if not slot.content %}
    {% else %}
        <span class="title">
            <a href="{% url schedule_presentation_detail slot.content.pk %}">{{ slot.content.title }}</a>
        </span><br />
        <span class="speaker">
            {% for speaker in slot.content.speakers %}
            <a href="{% url speaker_profile speaker.pk %}">{{ speaker }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </span>
    {% endif %}
{% else %}
    {% if slot.content_override.raw %}
        {{ slot.content_override.rendered|safe }}
    {% else %}
        {{ slot.kind.label }}
    {% endif %}
{% endif %}
<div class="talk-meta-phone">{{ slot.rooms.0.name }}</div>
{% if slot.content.pk == 36 %}
    <div><a href="https://github.com/pyconca/2013-wiki/wiki/Tutorials#notable-features-of-python">Sign up &raquo;</a></div>
{% elif slot.content.pk == 47 %}
    <div><a href="https://github.com/pyconca/2013-wiki/wiki/Tutorials#fundamentals-of-python-debugging">Sign up &raquo;</a></div>
{% elif slot.content.pk == 27 %}
    <div><a href="https://github.com/pyconca/2013-wiki/wiki/Tutorials#dissecting-memory-mysteries-of-python">Sign up &raquo;</a></div>
{% elif slot.content.pk == 23 %}
    <div><a href="https://github.com/pyconca/2013-wiki/wiki/Tutorials#sass-me-up-scotty">Sign up &raquo;</a></div>
{% endif %}
