{% extends "content_base.html" %}

{% block head_title %}Gold Sponsor • Kontagent{% endblock %}

{% block body %}

<h3>Gold Sponsor • Kontagent</h3>

<img
  src="/site_media/static/img/sponsors/kontagent-charles-marker.jpg"
  alt="Photograph of Charles Marker, VP of Engineering at Kontagent.",
  style="float: right; margin-left: 10px;"/>

<h4>Q &amp; A with Charles Marker, VP of Engineering</h4>

<h2>What is your mission?</h2>

<p>The Kontagent mission is to enable our customers to deliver the perfect
customer experience through the use of actionable data. The Kontagent
development team is responsible for developing the platform for efficient
collection of this data and applications which enable customer
insight. Currently our system supports millions of active users and processes
trillions of events resulting in petabytes of data.</p>

<h2>Tell us about the technologies/platform you use.</h2>

<p>We use a number of Open Source products along with internally developed
solutions to provide the Kontagent data platform and applications. External
products include Kafka, Storm, Hadoop, Hive and MySQL. Internal solutions are
developed in Python and Java. We continue to build out our product offerings
with both Open Source software and internally developed solutions as appropriate
to provide a flexible platform which efficiently scales and applications which
provide deep insight.</p>

<h2>Why did you choose to sponsor PyCon Canada?</h2>

<p>We make use of Python a lot in our products and want to ensure its ongoing
success. In addition, we want to be aware of the up and coming Python
technologies that will allow us to further grow and scale our infrastructure.
Finally, we want to build strong relationships with other members of the Python
development community.</p>

<h2>Tell us about some of the technical challenges your developers will be working on in the next 6-12 months.</h2>

<p>We are always focused on how to effectively scale our system which currently
processes over six billion events per day. As the number of events continues to
grow we must build systems which can scale by orders of magnitude beyond our
current capabilities. In addition, we need to enable our customers to better
utilize this data through applications which provide the deeper insight and
broader automation. In order to achieve our mission, we need to develop the core
technology and algorithms that help us understand complex systems and markets.
This way we can anticipate a customer need before they know they need it.</p>

<h2>What is a day in the life of a developer at Kontagent like?</h2>

<p>Our teams are self managing and are encouraged to work together in a open
environment. This includes daily stand ups for information sharing and
collaborative discussions among team members throughout the day. We encourage
iterative feature development with a focus on decreasing lead-time in order to
increase the actual value of our deliverables. We utilize modern developer
workflows using git and pull requests and strive for complete unit test coverage
with continuous integration. We like to have fun which includes everything from
discussing brain teasers over the company provided lunches to shooting a team
member with a nerd dart to scavenger hunts and playing board games late into the
evening.</p>

{% endblock %}
