{% extends "content_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load cache %}

{% block head_title %}{% trans "Conference Schedule" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block one_column %}

  <h3>{% trans "Conference Schedule" %}</h3>
  <p>Details TBA.</p>
  <h2>Friday August 9</h2>
  <p>Evening social event.</p>
  <h2>Saturday August 10</h2>
  <p>Keynote, talks, tutorials, and lunch.</p>
  <h2>Sunday August 11</h2>
  <p>Keynotes, talks, tutorials, and lunch.</p>
  <h2>Monday August 12</h2>
  {% url sprints as sprints_url %}
  <p>{% blocktrans with sprints_url=sprints_url %}<a href="{{ sprints_url }}">Development Sprints</a>{% endblocktrans %}</p>

  {% trans "SPRINT_WHAT" %}
  <h2>Tuesday August 13</h2>
  <p>{% blocktrans with sprints_url=sprints_url %}<a href="{{ sprints_url }}">Development Sprints</a>{% endblocktrans %}</p>

    <div id="details" class="row-fluid">
      <div class="span12">
        <div id="montreal">
          <a href="http://pycamp.org/boot-camp/torpy13/"><img style="float:right;" src="{{STATIC_URL}}/img/sponsors/torpy13-date.png" alt="PyCamp 2013 Toronto" /></a>
          <h4>{% trans "Toronto PyCamp" %}</h4>
          {% blocktrans %}<p><a href="http://pycamp.org/boot-camp/torpy13/">Toronto PyCamp</a>: Monday through Friday, August 12-16, 2013</p><p>PyCamp teams with the second PyCon Canada Conference! Toronto PyCamp and the PyCon Canada Conference happen on the campus of the University of Toronto. Go to the PyCon Canada weekend to see the amazing things Python can do for you, then experience a week of PyCamp.</p>{% endblocktrans %}
          <div style="clear: both;" />
        </div>
      </div>
    </div>

{% endblock %}
