{% extends "content_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Learn" %}{% endblock %}
{% block excerpt %}
<h2>{% trans "A place to announce our featured speakers, one by one, over the coming weeks." %}</h2>
{% endblock %}

{% block body %}
<h3>Learn</h3>
<div class="container-fluid" id="sponsors">
  <h3 id="jacob">Jacob Kaplan-Moss</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="https://github.com/jacobian">
          <img src="{{STATIC_URL}}/img/speakers/jacob-187x187.jpeg"
               alt="Jacob Kaplan-Moss"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        keynote</span>
        <a href='http://www.ohloh.net/accounts/4443?ref=Rank' target='_blank'>
          <img alt='Ohloh profile for jacobian'
               border='0' height='24' width='32' style='padding-top: 10px;'
               src='//www.ohloh.net/accounts/4443/widgets/account_rank.gif' />
        </a>
        <a href="https://twitter.com/jacobian">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
      </h2>
    </div>
    <div class="span8">
      <p>
        <a href="https://github.com/jacobian">
          https://github.com/jacobian
        </a>
      </p>
      <p>
Jacob is the co-BDFL of <b>Django</b> and Director of Platform Security
at Heroku. Jacob helped create Django while working at the Lawrence
Journal-World, a family owned newspaper in Lawrence, KS. He lives on a
hobby farm outside of Lawrence and spends his weekends playing with power
tools and tractors.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="karen">Karen Brennan</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://web.media.mit.edu/~kbrennan/">
          <img src="{{STATIC_URL}}img/speakers/karen_brennan-187x124.jpg"
               alt="Karen Brennan"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        keynote</span>
        <a href="http://scratch.mit.edu/">
          <img src="{{STATIC_URL}}img/speakers/180px-Scratch_cat_large.png"
               alt="Scratch"/ height="35" style="padding-top: 10px;">
        </a>
        <a href="https://twitter.com/karen_brennan">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
      </h2>
    </div>
    <div class="span8">
      <p>
        <a href="http://web.media.mit.edu/~kbrennan/">
          http://web.media.mit.edu/~kbrennan/
        </a>
      </p>
      <p>
Karen Brennan is Assistant Professor of Education at Harvard University in
the Graduate School of Education, having completed her PhD at the MIT Media
Lab. Her research is primarily concerned with the ways in which learning
communities support young people's development as computational creators.
More concretely, her work focuses on the <b>Scratch</b> website and Scratch educator
community, studying how participation in the Scratch online community and how
professional development for educators can support young people as designers
of computational media.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="hilary">Hilary Mason</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://www.hilarymason.com/about/">
          <img src="{{STATIC_URL}}img/speakers/hilary_electronics-199x300.jpg"
               alt="Hilary Mason"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        keynote</span>
        <a href="https://twitter.com/hmason">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
      </h2>
    </div>
    <div class="span8">
      <p>
        <a href="http://www.hilarymason.com/about/">
          http://www.hilarymason.com/about/
        </a>
      </p>
      <p><strong>Simply</strong>: I make beautiful things with data.</p>
      <p>I’m the Chief Scientist at <a href="http://bitly.com">bitly</a>, co-founder of <a href="http://hackny.org">HackNY</a>, creator of <a href="http://dataists.com">dataists</a>, and member of <a href="http://nycresistor.com">NYCResistor</a>.</p>
      <p><strong>More</strong>:</p>
      <p>I believe technology should give us superpowers.</p>
      <p>I’m the Chief Scientist at <a href="http://bitly.com">bitly</a>, where we study attention on the internet in realtime, doing a mix of research, exploration, and engineering.</p>
      <p>I co-founded <a href="http://hackny.org">HackNY</a>, a non-profit that helps talented engineering students find their way into the startup community of creative technologists in New York City.</p>
      <p>I’m an enthusiastic member of the larger conspiracy to evolve the emerging discipline of data science.</p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="brett">Brett Cannon</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://about.me/brettcannon">
          <img src="{{STATIC_URL}}img/speakers/brett_cannon-200x200.jpg"
             alt="Brett Cannon"/>
        </a>
        <br>
        {% spaceless %}
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        <a href='http://www.ohloh.net/accounts/1894?ref=Rank' target='_blank'>
          <img alt='Ohloh profile for Brett Cannon'
             border='0' height='24' width='32' style='padding-top: 10px; padding-left: 3px;'
             src='//www.ohloh.net/accounts/1894/widgets/account_rank.gif' />
        </a>
        <a href="https://plus.google.com/115362263245161504841?prsrc=3"
             rel="publisher" target="_top" style="text-decoration:none;">
          <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        <a href="https://twitter.com/brettsky">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Brett is a software engineer at Google Waterloo working on the parsing of
        email receipts from e-commerce sites (if you have seen the shipment
        notification card in Google Now, that's his team providing the data).
      </p>
      <p>
        He has
        also been a Python core developer for over a decade, and is currently the
        only active core developer in Canada. His latest significant contribution to
        Python was importlib, a pure Python re-implementation of import which became
        the default in Python 3.3.
      </p>
      <p>
        Brett currently lives in Guelph, ON with his
        wife, Andrea, and cat who is too cute and smart for her own good (but that
        doesn't make him a cat person; his wife thinks otherwise).
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="alex">Alex Gaynor</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://alexgaynor.net">
          <img src="{{STATIC_URL}}img/speakers/alex_gaynor-200x300.jpg"
             alt="Alex Gaynor"/>
        </a>
        <br>
        {% spaceless %}
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        <a href='http://www.ohloh.net/accounts/24597?ref=Rank' target='_blank'>
          <img alt='Ohloh profile for Alex Gaynor'
             border='0' height='24' width='32' style='padding-top: 10px; padding-left: 3px;'
             src='//www.ohloh.net/accounts/24597/widgets/account_rank.gif' />
        </a>
        <a href="https://twitter.com/alex_gaynor">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Alex is an open source engineer. He works on Topaz, PyPy, CPython, and
        Django as well as serves on the board of the Python Software
        Foundation. He works as an engineer at Rackspace, and lives in San
        Francisco.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="lynn">Lynn Root</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://roguelynn.com">
          <img src="{{STATIC_URL}}img/speakers/lynn_root.jpg"
             alt="Lynn Root"/>
        </a>
        <br>
        {% spaceless %}
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        <a href="https://twitter.com/roguelynn">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Lynn Root is a software engineer for Red Hat on the
        <a href="http://freeipa.org/">freeIPA.org</a> team, known for breaking
        VMs and being loud about it. She is the founder &amp; leader of PyLadies
        San Francisco, board member of the Python Software Foundation, and a
        missionary for the PyLadies word. Lastly, she has an unhealthy
        obsession for coffee, twitter, and socializing.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="chris">Chris Neugebauer</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://chris.neugebauer.id.au">
          <img src="{{STATIC_URL}}img/speakers/chris_neugebauer-200x156.jpg"
             alt="Chris Neugebauer"/>
        </a>
        <br>
        {% spaceless %}
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        <a href="https://twitter.com/chrisjrn">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Christopher is a programmer from Hobart, in the Australian state of
        Tasmania. He currently works as an Android developer at AsdeqLabs,
        which means his day job involves more Java than he'd like. His main
        interest in Python has become community development, he is an immediate
        past convenor of PyCon Australia 2012 and 2013, and is a newly-minted
        member of the Python Software Foundation.
      </p>
      <p>
        Christopher sees PyCon Canada as a wonderful opportunity to return to
        attending Python conferences without the stress of organising one. In
        his newly-found spare time, he enjoys presenting on Mobile development
        at Open Source conferences, and presenting on Open Source development
        at Mobile conferences.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="jessica">Jessica Kerr</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="https://twitter.com/jessitron">
          <img src="{{STATIC_URL}}img/speakers/jessica_kerr-200x200.jpg"
             alt="Jessica Kerr"/>
        </a>
        <br>
        {% spaceless %}
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        <a href="https://twitter.com/jessitron">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Jessica Kerr is known in her hometown of St. Louis as "that one girl,
        at the user groups, who gets excited." Online, she is known as
        Jessitron, as she blogs and tweets her excitement to the world.
        Jessitron writes code in Scala, Ruby, and whatever else looks
        interesting. She is fascinated by functional programming, git, Software
        Carpentry, her two children, and other paths into the future.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="brandon">Brandon Rhodes</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://rhodesmill.org/brandon/">
          <img src="{{STATIC_URL}}img/speakers/brandon_rhodes-200x147.jpg"
             alt="Brandon Rhodes"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        {% spaceless %}
        <a href='http://www.ohloh.net/accounts/32600?ref=Rank' target='_blank'>
          <img alt='Ohloh profile for brandon_craig_rhodes'
               border='0' height='24' width='32' style='padding-top: 10px;'
               src='//www.ohloh.net/accounts/32600/widgets/account_rank.gif' />
        </a>
        <a href="https://twitter.com/brandon_rhodes">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Brandon is thrilled to be returning for the second PyCon Canada, where
        he gave a talk on beauty in Python last year. He started using Python
        in 1997 or 1998 (the exact year has been lost to history) and for 15
        years has maintained the PyEphem library for amateur astronomers.  He
        trains new Python programmers professionally, writes Python for
        projects like the New England Wildflower Society's new Go Botany web
        site, and tries to share everything he learns with the community that
        has given him such a great programming language for free.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="mel">Mel Chua</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://blog.melchua.com/">
          <img src="{{STATIC_URL}}img/speakers/mel_chua-200x200.jpg"
             alt="Mel Chua"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        {% spaceless %}
        <a href="https://twitter.com/mchua">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Mel Chua is a contagiously enthusiastic hacker, writer, and educator
        with over a decade of teaching and curriculum development experience
        and a track record of leadership in Free, Libre, and Open Source
        Software (FLOSS) communities, most recently as Red Hat Inc’s.
        educational liaison.  Now part of Purdue University’s School of
        Engineering Education, Mel’s work bridges academic research on
        successful learning and making communities with deep personal
        experience in building them.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="dana">Dana Bauer</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://danabauer.cc/about.html">
          <img src="{{STATIC_URL}}img/speakers/dana_bauer-200x200.jpg"
             alt="Dana Bauer"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        {% spaceless %}
        <a href="https://twitter.com/geography76">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
        Dana Bauer is a freelance mapmaker and data analyst, with interests in
        open data and journalism. She has a background in geography, math, and
        science writing. As part of the PhillyPUG leadership team, Dana
        organizes and teaches workshops and project nights for new coders, with
        a focus on bringing more women into the Python community. Dana tweets
        <a href="https://twitter.com/geography76">@geography76</a>.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3 id="kenneth">Kenneth Reitz</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://kennethreitz.org/">
          <img src="{{STATIC_URL}}img/speakers/kenneth_reitz-200x200.jpg"
             alt="Kenneth Reitz"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        featured</span>
        {% spaceless %}
        <a href="https://twitter.com/kennethreitz">
          <img src="{{STATIC_URL}}img/twitter-bird-light-bgs-32x32.png" style="border:0;width:32px;height:32px;padding-top:10px;padding-left:3px;" />
        </a>
        {% endspaceless %}
      </h2>
    </div>
    <div class="span8">
      <p>
          Kenneth Reitz is the product owner of Python at Heroku and a member
          of the Python Software Foundation. He embraces minimalism, elegant
          architecture, and simple interfaces. Kenneth is well known for his
          many open source projects, specifically Requests.
      </p>
    </div>
  </div>

</div>
{% endblock %}

