{% extends "content_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sprints" %}{% endblock %}
{% block excerpt %}
<h3>{% trans "Contribute to open-source, face-to-face with other developers!" %}</h3>
{% endblock %}

{% block body %}
<h2>{% trans "Development Sprints" %}</h2>
<p>{% blocktrans %}Monday, August 12th and Tuesday, August 13th, 2013.{% endblocktrans %}</p>

{% trans "SPRINT_WHAT" %}

<h2>{% trans "What's the schedule?" %}</h2>

<p>{% blocktrans %}The sprints will be held at the conference venue, in the Terrace room (3rd floor). Show up any time, and leave any time&mdash;it's up to you!{% endblocktrans %}</p>

<h2>{% trans "Who can participate?" %}</h2>
<p>{% trans "You!" %}</p>

<p>{% blocktrans %}All experience levels are welcome; sprints are a great opportunity to get connected with, and start contributing to your favorite Python project. Many people have made their <em>first</em> open-source contribution at sprints.{% endblocktrans %}</p>

<p>{% blocktrans %}Participation in the sprints is free!{% endblocktrans %}</p>

<h2>{% trans "How do I sign up?" %}</h2>

<p>{% blocktrans %}It's easy&mdash;just head over to the <a href="https://github.com/pyconca/2013-wiki/wiki/Sprints">sprint wiki</a> and write your name under the project you're interested in. If you just want to attend sprints in general, there's a section for that too! There will be people on hand to help you find something to work on.{% endblocktrans %}</p>

<h2>{% trans "What's there to sprint on?" %}</h2>

<p>{% blocktrans %}Not sure what to sprint on? Want to advertise your project? Head over to the <a href="https://github.com/pyconca/2013-wiki/wiki/Sprints">sprint wiki</a> to see (and add to) the list of projects which will have people sprinting.{% endblocktrans %}</p>

{% endblock %}
