{% extends "content_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Venue" %}{% endblock %}
{% block excerpt %}
<h2>{% blocktrans %}The conference will be held at the Chestnut Conference Centre in the heart of downtown Toronto, minutes away from transit, attractions, and food.{% endblocktrans %}</h2>
{% endblock %}

{% block body %}
<h3>{% trans "Venue" %}</h3>
<h2>{% trans "Location" %}</h2>
<p>{% trans "VENUE_LOCATION" %}</p>
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?ie=UTF8&amp;cid=12810529130502309021&amp;q=Chestnut+Residence&amp;gl=CA&amp;hl=en&amp;t=m&amp;ll=43.656478,-79.384804&amp;spn=0.007452,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
<p>{% trans "View the complete" %} <a href="https://maps.google.ca/maps?ie=UTF8&amp;cid=12810529130502309021&amp;q=Chestnut+Residence&amp;gl=CA&amp;hl=en&amp;t=m&amp;ll=43.656478,-79.384804&amp;spn=0.007452,0.013733&amp;z=16&amp;iwloc=A&amp;source=embed">{% trans "PyCon Canada 2013 map" %}</a>.</p>

<h2>{% trans "Getting to Toronto" %}</h2>
<p>{% trans "VENUE_AIRPORTS" %}</p>
<p>{% trans "VENUE_PORTER" %}</p>
<p>{% trans "VENUE_VIA" %}</p>
<p>
  {% trans "If you're coming from the US:" %}
  <ul>
    <li><p>{% trans "VENUE_PASSPORT_USA" %}</p></li>
    <li><p>{% trans "VENUE_PORTER_USA" %}</p></li>
  </ul>
</p>

<p>{% blocktrans %}<a href="https://www.viarail.ca/">VIA Rail</a> is offering discounts on train fares for attendees:{% endblocktrans %}</p>
<ul>
    <li><p>{% blocktrans %}Valid for travel between Thursday August 8 and Friday August 16, 2013, from all stations throughout the VIA system to Toronto, Ontario and return.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}Fare applies to a maximum of two passengers per booking. One complimentary stopover is allowed at no additional charge. For travel on all fare plans in Business class, the first stopover is allowed at no additional charge, provided that this stopover takes place in Toronto, Montéal, or Ottawa only.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}The discount is 10% off the best available fare in Economy, Business, Sleeper, or Sleeper Touring class. "Subject to the conditions and restrictions of the fare plan to which the additional discount is being applied."{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}Discount does not apply in "Economy&ndash;special" or escape fare and in "Business&ndash;supersaver" fee.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}Reference VIA convention code 12614.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}Online booking tips:<ul><li>You have to log in to your profile, or create one prior to booking.</li><li>On the Passenger information screen, select "Convention fare" from the "Discount Type" drop-down menu, and enter discount code 12614 in the "Discount code" field.</li><li>The conference fare will be shown on the next page.</li></ul>{% endblocktrans %}</p></li>
</ul>

<h2>{% trans "Public Transit and Parking" %}</h2>
<p>{% trans "VENUE_PUBLIC_TRANSIT" %}</p>
<p>{% trans "VENUE_PARKING" %}</p>

<h2 id="hotel">{% trans "Hotel" %}</h2>
<p>{% trans "The recommended hotel for PyCon Canada is the conference venue, the Chestnut Residence" %}:</p>

<p><address>
  89 Chestnut Street<br />
  Toronto, Ontario<br />
  M5G 1R1, Canada<br />
  416-978-8863
</address></p>

<p>{% trans "HOTEL_RESERVATION_PHONE" %}</p>

<p>{% trans "HOTEL_RESERVATION_WEB" %}</p>

<p>{% trans "HOTEL_TIME_SPAN" %}</p>

<p>{% trans "HOTEL_RESERVATION_CONTACT" %}</p>

<p>{% trans "HOTEL_ROOM_SHARING" %}</p>

<p>{% trans "HOTEL_TROUBLE" %}</p>

<h2>{% trans "Food" %}</h2>
<p>{% blocktrans %}
Lunch will be provided on Saturday and Sunday, so make sure you let us
know about any dietary restrictions. For other meals, there are a number of
<a href="https://maps.google.com/maps/ms?msid=210957086220056797111.0004e32b952c9ee84c986&msa=0&ll=43.648963,-79.395103&spn=0.007701,0.021093&dg=feature">
food options in the neighbourhood</a>.
{% endblocktrans %}</p>

<h2>{% trans "What to do in Toronto" %}</h2>
<p>{% blocktrans %}<a href="http://www.mytorontomeeting.com/">Tourism Toronto's website</a> has information on things to see and do in Toronto, as well as a "Deals" section including coupons. They also have a <a href="http://www.mytorontomeeting.com/Visitor/see-toronto-mobile-app.aspx">mobile app</a> available for download.{% endblocktrans %}</p>

{% endblock %}
